<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Salsa&display=swap" rel="stylesheet">
    <title>Contributors</title>
    <link rel="stylesheet" href="/static/cctv/contact.css">
</head>
<body> 
    <br><br>
    <h1>
        Thankyou for using our Service ! <br> Meet the contributors <span style="color: red; font-size:30px;">&#10084;</span>
    </h1><br><br><br>   
    <div class="cover">
        <div class="box">
            <img src="/static/photos/satyam.jpg" alt="SpyroSigma" > <br>
            Satyam Namdev <br> 8077929614
        </div>
        <div class="box">
            <img src="/static/photos/vaibhav.jpg" alt="Arora" >  <br>
            Vaibhav Arora <br> 7534899398
        </div>
        <div class="box">
            <img src="/static/photos/rishabh.jpg" alt="Rizzz" >  <br>
            Rishabh Singh <br> 9667224622
        </div>
        <div class="box">
            <img src="/static/photos/swapnil.jpg" alt="Swapii" > <br>
            Swapnil Pal  <br> 8810491558
        </div>
        <!-- <div class="box">
            <img src="/static/photos/kc.jpg" alt="KC" > <br>
            Rohan Kumar (KC) <br> 9936747544
        </div> -->
    </div>
</body>
</html>