<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Account </title>
    <link rel="stylesheet" href="static/authentication/password_reset.css">
</head>

<body>
    <h1>Ohhh, forgot your Password ? </h1>
    <h2>Its happens, We got you !</h2> <br> <br>
    <form action="" method="post">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: red;">
            {{ message }} !
        </p>
        {% endfor %}
        {% endif %}
        <label for="email">Please enter your Email</label> <br>
        <input type="email" name="email" id="email" placeholder="Email"> <br> <br> <br>
        <input type="submit" value="Reset Password" class="bn54span bn54">
    </form>
</body>

</html>